<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.revents.chronolog">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".app.ChronologApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".features.feed.FactsfeedActivity"
            android:label="@string/title_activity_factsfeed"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".features.type.FactTypesActivity"
            android:label="@string/title_activity_fact_types"
            android:parentActivityName=".features.feed.FactsfeedActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.revents.chronolog.features.feed.FactsfeedActivity" />
        </activity>
        <activity
            android:name=".features.type.EditFactTypeActivity"
            android:label="@string/title_activity_edit_fact_type"
            android:parentActivityName=".features.type.FactTypesActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.revents.chronolog.features.type.FactTypesActivity" />
        </activity>
        <activity
            android:name=".features.group.FactTypeGroupsActivity"
            android:label="@string/title_activity_fact_type_groups"
            android:parentActivityName=".features.type.EditFactTypeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.revents.chronolog.features.type.EditFactTypeActivity" />
        </activity>
        <activity
            android:name=".features.value.ValueDescriptorsActivity"
            android:label="@string/title_activity_value_descriptors"
            android:parentActivityName=".features.type.EditFactTypeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.revents.chronolog.features.type.EditFactTypeActivity" />
        </activity>
        <activity
            android:name=".features.group.EditFactTypeGroupActivity"
            android:label="@string/title_activity_edit_fact_type_group"
            android:parentActivityName=".features.group.FactTypeGroupsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.revents.chronolog.features.group.FactTypeGroupsActivity" />
        </activity>
        <activity
            android:name=".features.value.ValueTypesActivity"
            android:label="@string/title_activity_value_types"
            android:parentActivityName=".features.value.ValueDescriptorsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.revents.chronolog.features.value.ValueDescriptorsActivity" />
        </activity>
        <activity
            android:name=".features.feed.EditFactActivity"
            android:label="@string/title_activity_edit_fact"
            android:parentActivityName=".features.feed.FactsfeedActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.revents.chronolog.features.feed.FactsfeedActivity" />
        </activity>
        <activity
            android:name=".features.statistics.FactTypeStatisticsActivity"
            android:label="Статистика"
            android:parentActivityName=".features.feed.FactsfeedActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.revents.chronolog.features.feed.FactsfeedActivity" />
        </activity>
    </application>
</manifest>